/* Body */
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #5ea7ce;
    overflow: auto;
}


/* ----------------------------- */
/* Header */
.header{
    width: auto; /* avoid the width exceed the screen size*/
    height: 120px;
    margin: auto;
    padding: 20px 50px;  
    align-items: center; /* make the items center in vertical*/
    display: flex;
    justify-content: space-between;
    
}

.left p{
    width: auto;
    animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* the logo */
.header img{
    width: 100px;
    animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* the icon */
svg{
    width: 50px;
    height: 30px;
    animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.right a{
    text-decoration: none;
}

/* the profile icon */
#profile{
    width: 40px;
    height: 30px;
    position: absolute;
    right: 20px;
}

/* ----------------------------- */
/* Container 1 */
.container1{
    width: auto; /* avoid the width exceed the screen size*/
    height: 70px;
}

/* the menu */
.menu{
    float: left;
    animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


.login{
    float: right;
    margin-right: 80px;
    display: flex;    
    margin-top: 8px;
}


/* User Profile */
.login ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
}

.login li a {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    color: #f4eee6;
}

.line{
    border-bottom: 1px solid black;
}

/* Style for dropdown menu */
.dropdown {
    display: inline-block;
}


.dropdown .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 5px 50px;
    text-decoration: none;
    margin-top: -1px;
    white-space: nowrap;
}

.login h2{
    cursor: pointer;
    margin-right: -30px;
}

.dropdown:hover .dropbtn {
    background-color: #225584;
    color: #f4eee6;
    
}



.dropdown-content {
    display: none;
    position: absolute;
    background-color: #225584;
    min-width: 200px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 2px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
.dropdown:hover .dropdown-content {
    display: block;
}

/* hr*/
hr{
    background-color: white;    
    opacity: 0.4;
    margin-top: -10px;
} 

/* each title inside the menu */
.menu ul li{
    list-style: none;
    display: inline-block;
    margin: 0px 20px;
    position: relative;
}

/* effect of the button for each title inside the menu */
.menu ul li button{
    border: none;
    background-color: transparent;
    outline: none;
    box-shadow: none;
    color: black;
    text-transform: uppercase;
    font-size: 17px;
    cursor: pointer;
}

/* use "after" to apply some design after the element  */
.menu ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: black;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

/* hover effect for the menu */
.menu ul li:hover::after{
    width: 100%;
}

/* hover effect for the login button */
.login a:hover{
    opacity: 0.6;

}


/* Table */
#info{
    width: auto;
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

}

#patient, #appointment{
    width: 45%;
    margin: 0 auto;
    line-height: 30px;
    margin-top: 100px;
}


input[type="text"], input[type="email"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    font-family: Arial, sans-serif;
  }
  
  input[type="text"]:focus {
    outline: none;
    border-color: #7eb4f4;
  }
  

#info h2{
    text-align: center;
    padding-top: 20px;
}

#info h3{
    padding-top: 20px;
}

#appointment h2{
    padding-bottom: 20px;
    border-bottom: 1px solid white;
}

#appointment p:last-child{
    padding-bottom: 20px;
    border-bottom: 1px solid white;
}

/* Info2 */
#info2{
    width: auto;
}

#info2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

#rules{
  margin-top: 50px;
}

input[type="submit"] {
    background-color: #225584;
    color: white;
    padding: 10px 200px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 50px;
}
  
input[type="submit"]:hover {
    background-color: #9cb7d5;
    color: black;
}
  

@keyframes tracking-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px);
              transform: translateZ(-700px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
}
  
@keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
}
  